# Workshop Lecture 8, Exercise 1
For this exercise, weâ€™re using data on around 1,500 observations of house prices and house characteristics from Ames, a small city in Iowa.
1. Load the Ames housing data set from ames_houses.csv located in the data/ folder.
2. Restrict the data to the columns SalePrice and Neighborhood.
3. Check that there are no observations with missing values in this data.
4. Compute the average house price (column SalePrice) by neighborhood (column Neighborhood). List the three most expensive neighborhoods, for example by using sort_values().
5. You are interested to quantify the price dispersion in each neighborhood. To this end, compute the standard deviation by neighborhood using std(). Which are the three neighborhoods with the most dispersed prices?
6. An alternative measure of dispersion is the ratio of the 90th and 10th percentile of the house price distribution. Use the quantile() method to compute the P90 and P10 statistics by neighborhood, compute their ratio and print the three neighborhoods with the largest dispersion.

Hint: The quantile() function takes quantiles as arguments, i.e., instead of the 90th percentile you need to specify the quantile as 0.9.

In [18]:
import pandas as pd

DATA_PATH = '/Users/lilapfageraas/Downloads/nhh/tech2/TECH2-H24/data'
file = pd.read_csv(f'{DATA_PATH}/ames_houses.csv')
df = pd.DataFrame(file)
df.head()

,SalePrice,LotArea,Neighborhood,BuildingType,OverallQuality,OverallCondition,YearBuilt,CentralAir,LivingArea,Bathrooms,Bedrooms,Fireplaces,HasGarage
0,208500.0,784.954075,CollgCr,Single-family,7,5,2003,Y,158.848694,2,3,0,1
1,181500.0,891.782144,Veenker,Single-family,6,8,1976,Y,117.232194,2,3,1,1
2,223500.0,1045.057200,CollgCr,Single-family,7,5,2001,Y,165.908636,2,3,1,1
3,140000.0,887.137445,Crawfor,Single-family,7,5,1915,Y,159.498952,1,3,1,1
4,250000.0,1324.668060,NoRidge,Single-family,8,5,2000,Y,204.180953,2,4,1,1

In [24]:
#keep only saleprice and neighborhood
df = df[['SalePrice', 'Neighborhood']]
df.info() #see that the number of obsevations is the same as the number of non-missing observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SalePrice     1460 non-null   float64
 1   Neighborhood  1460 non-null   object
dtypes: float64(1), object(1)
memory usage: 22.9+ KB

In [30]:
#avg price per neghbourhood
df.groupby('Neighborhood').mean().sort_values('SalePrice', ascending=False).head(3)

                  SalePrice
Neighborhood
NoRidge       335295.317073
NridgHt       316270.623377
StoneBr       310499.000000

In [33]:
df.groupby('Neighborhood').std().sort_values('SalePrice', ascending=False).head(3)

                  SalePrice
Neighborhood
NoRidge       121412.658640
StoneBr       112969.676640
NridgHt        96392.544954

In [43]:
per90 = df.groupby('Neighborhood').quantile(0.9)

In [35]:
per10 = df.groupby('Neighborhood').quantile(0.1)

In [45]:
ratioper90to10 = per90 / per10
ratioper90to10.sort_values('SalePrice', ascending=False).head(3)

              SalePrice
Neighborhood
IDOTRR         2.546182
StoneBr        2.533834
BrkSide        2.309796