# Workshop Lecture 8, Exercise 2
For this exercise, we’re using data on around 1,500 observations of house prices and house characteristics from Ames, a small city in Iowa.
1. Load the Ames housing data set from ames_houses.csv located in the data/ folder.
2. Restrict the data to the columns SalePrice, LotArea and Bedrooms.
3. Restrict your data set to houses with one or more bedrooms and a lot area of at least 100m².
4. Compute the average lot area. Create a new column LargeLot which takes on the value of 1 if the lot area is above the average (“large”), and 0 otherwise (“small”). What is the average lot area within these two categories?
5. Create a new column Rooms which categorizes the number of Bedrooms into three groups: 1, 2, and 3 or more. You can create these categories using boolean indexing, np.where(), pandas’s where(), or some other way.
6. Compute the mean SalePrice within each group formed by LargeLot and Rooms (for a total of 6 different categories) using groupby().
7. Compute and report the average price difference between 1 and 2 bedrooms for a house with a small lot area.
8. Compute and report the average price difference between a small and a large lot for a house with <2 bedrooms

In [41]:
import pandas as pd

DATA_PATH = '/Users/lilapfageraas/Downloads/nhh/tech2/TECH2-H24/data'
file = pd.read_csv(f'{DATA_PATH}/ames_houses.csv')
df = pd.DataFrame(file)
df.head()

,SalePrice,LotArea,Neighborhood,BuildingType,OverallQuality,OverallCondition,YearBuilt,CentralAir,LivingArea,Bathrooms,Bedrooms,Fireplaces,HasGarage
0,208500.0,784.954075,CollgCr,Single-family,7,5,2003,Y,158.848694,2,3,0,1
1,181500.0,891.782144,Veenker,Single-family,6,8,1976,Y,117.232194,2,3,1,1
2,223500.0,1045.057200,CollgCr,Single-family,7,5,2001,Y,165.908636,2,3,1,1
3,140000.0,887.137445,Crawfor,Single-family,7,5,1915,Y,159.498952,1,3,1,1
4,250000.0,1324.668060,NoRidge,Single-family,8,5,2000,Y,204.180953,2,4,1,1

In [42]:
df = df[['SalePrice', 'LotArea', 'Bedrooms']]
df.head()

   SalePrice      LotArea  Bedrooms
0   208500.0   784.954075         3
1   181500.0   891.782144         3
2   223500.0  1045.057200         3
3   140000.0   887.137445         3
4   250000.0  1324.668060         4

In [43]:
mean_lot = df['LotArea'].mean()
mean_lot

976.9499473515771

In [44]:
big_lot = (df['LotArea'] > mean_lot)

In [45]:
df['LargeLot'] = (big_lot == True).astype(int)
df

      SalePrice      LotArea  Bedrooms  LargeLot
0      208500.0   784.954075         3         0
1      181500.0   891.782144         3         0
2      223500.0  1045.057200         3         1
3      140000.0   887.137445         3         0
4      250000.0  1324.668060         4         1
...         ...          ...       ...       ...
1455   175000.0   735.441587         3         0
1456   210000.0  1223.878099         3         1
1457   266500.0   839.947307         4         0
1458   142125.0   902.650739         2         0
1459   147500.0   923.087413         3         0

[1460 rows x 4 columns]

In [46]:
avg_lotsize = df.groupby('LargeLot')['LotArea'].mean()
avg_lotsize

LargeLot
0     704.626294
1    1463.390672
Name: LotArea, dtype: float64

In [47]:
#we only need to change the values of the bedroom column that are greater than three to three
#make a rooms column
df['Rooms'] = df['Bedrooms'] 

#make a boolean series that is True if there are more than 3 rooms and false if not
many_r = (df['Rooms'] >= 3)

#ue .loc to access the values in the rooms column, and change the values for which many_r is true to 3
df.loc[many_r, 'Rooms'] = 3

In [48]:
df.head()

   SalePrice      LotArea  Bedrooms  LargeLot  Rooms
0   208500.0   784.954075         3         0      3
1   181500.0   891.782144         3         0      3
2   223500.0  1045.057200         3         1      3
3   140000.0   887.137445         3         0      3
4   250000.0  1324.668060         4         1      3

In [49]:
avg_P = df.groupby(['LargeLot', 'Rooms'])['SalePrice'].mean()
avg_P

LargeLot  Rooms
0         0        191666.666667
          1        135182.388889
          2        144575.786942
          3        163877.947195
1         0        251319.666667
          1        270825.357143
          2        217361.313433
          3        223211.518182
Name: SalePrice, dtype: float64

In [68]:
diff1a2 = avg_P.loc[0, 2] - avg_P.loc[0, 1]
diff1a2

9393.39805269189

In [74]:
diff = avg_P.loc[1, 2] - avg_P.loc[0, 2]
diff

72785.52649125506