# 01 - Python basics 

This notebook gives an introduction to the basic data types in Python, and some of the operations that we can perform on those data types.

## Numeric data

Variables containing only digits (with optional sign character and decimal point):
- integers (whole numbers), e.g., 10
- floats (with decimals), e.g., 10.0

We can use the `int` and `float` functions to convert the data type of numeric data.

In [153]:
num = 10.0
num

10.0

In [155]:
int(num)

10

Note that if we want to store the change in data type, then we have to explicitly re-assign the new value to the previous variable (or store it in a new variable).

In [163]:
num

10.0

In [159]:
num = int(num)
num

10

In [161]:
num = float(num)
num

10.0

Python uses scientific notation to represents very small floats and very large floats.

In [165]:
print(15445759662000000.2)

1.5445759662e+16

In [167]:
print(0.0000000000000005)

5e-16

Be aware that floats have limited precision in Python. Because computers speak "binary", not all floats have an exact representation.


In Python, floats have 16 digits of precision (i.e. Python rounds off after 16 decimals).

In [169]:
# Should be 0.333333333333333333333333333333333333333...
1/3

0.3333333333333333

The limited precision of floats can cause roundoff errors in our calculations.

In [171]:
# Should be equal to 2
1/3 + 1/3 + 1/3 + 1/3 + 1/3 + 1/3

1.9999999999999998

In [173]:
# Should be 435
price = 4.35
quantity = 100
total = price * quantity

print(total)

434.99999999999994

We can deal with roundoff errors by simply rounding off to the nearest decimal using the `round` function.

In [177]:
round(total, 1)

435.0

<div class="alert alert-info">
<h3> Your turn</h3>
<p> The area of a rectangle is equal to the width multiplied with the height of the rectangle. 
    
The width of a rectangle is 15 cm and the height is 3.71 cm. Calculate the area of the rectangle, and display the result with two decimals.
</div>

In [4]:
width = 15
height = 3.71

area = width * height

print(round(area, 2))

55.65

## String data

A string is a sequence of characters, e.g., letters, numbers, special character, spaces etc.

We define a string by placing it inside a pair of quotation marks (either `''` or `""`)

Note that there is a difference between an empty string and a string containing only spaces.

In [189]:
empty_str = ''
empty_str

space_str = ''
space_str

''

In [181]:
space_str = '     '
space_str

'     '

We can use the `len` function to get the length of a sequence.

In [183]:
print(len(empty_str))
print(len(space_str))

0
5

In general, strings must be contained on one line. However, strings can be displayed on different lines by using the newline control character, `\n`.

Print a list of numbers:

In [191]:
# SyntaxError (because string is not on a single line)
print('This is a list of numbers:
      1
      2
      3
      4')

SyntaxError: unterminated string literal (detected at line 2) (3684607641.py, line 2)

In [193]:
print('This is a list of numbers:')
print('1')
print('2')
print('3')
print('4')

This is a list of numbers:
1
2
3
4

In [195]:
print('This is a list of numbers: \n1\n2\n3\n4')

This is a list of numbers:
1
2
3
4

### General sequence methods

Strings are essentially just a sequence of characters, and there are many operations that can be applied to sequences in Python.

#### 1. String concatenation:

We can use the `+` operator to "add" strings together.

In [197]:
'a' + 'b' + 'c'

'abc'

In [199]:
string1 = 'Hello'
string2 = 'world!'

print(string1 + ' ' + string2)

Hello world!

#### 2. String conversion:

Numeric variables can be converted to strings using the `str` function.

In [202]:
num_var = 2.0

num_var

2.0

In [204]:
str(num_var)

'2.0'

However, if we want to store the transformation we must store it in a new variable (or overwrite an existing variable).

In [206]:
num_str = str(num_var)

num_str

'2.0'

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Store the temperature in Bergen today in a variable called <code>temp</code>. Use the variable to print a sentence stating today's temperature, e.g., "The temperature today is ... degrees".
</div>

In [8]:
temp = 17

print('The temperature today is ' + str(temp) + ' degrees')

The temperature today is 17 degrees

#### 3. String repetition:

We can use the `*` operator to repeat a string several times.

In [208]:
string1 = 'Hello'

print(string1*3)

HelloHelloHello

This can be useful for when we want to create fancy print statements.

In [210]:
print('*'*30)
print('Welcome to the Quiz Generator!')
print('*'*30)

******************************
Welcome to the Quiz Generator!
******************************

#### 4. String selection:

We can select specific characters from a string by placing their index inside the indexing operator: `string_name[index]`

Notice that Python uses **zero-based indexing**.

In [220]:
string1 = 'Hello!'

string1

'Hello!'

In [214]:
string1[1]

'e'

In [218]:
string1[0]

'H'

This means that the last index in the string is the total lenght of the string minus 1.

In [222]:
len(string1)

6

In [224]:
# IndexError (because the index is out of range)
string1[6]

IndexError: string index out of range

In [226]:
string1[6-1]

'!'

#### 5. String slicing:

We can also use the indexing operator to extract substrings from a string, which is known as slicing: `string_name[index1:index2]` 

When slicing, we extract the character from `index1` up to (but not including) `index2`.

In [228]:
sentence = 'This is an intro class to Python'

In [230]:
# Extract first character
sentence[0]

'T'

In [232]:
# Alternative
sentence[0:1]

'T'

In [234]:
# Extract first word
sentence[0:4]

'This'

In [236]:
# Extract first word + space
sentence[0:5]

'This '

In [238]:
# Extract last word
sentence[26:]

'Python'

A negative index is interpreted as the number of characters from the end of the string.

In [240]:
sentence[-6:]

'Python'

## Lists

Lists in Python are very similar to our everyday concept of lists. In the real world, we read off, add, cross off items in lists, and we can do the same with lists in Python.

Lists are one of the most common ways to store data in Python, and they are very useful when we want to store a collection of items in a single variable.

Lists are denoted by a comma-separated sequence of items within square
brackets `[]`.

**Syntax**:
```
lst_name = [item1, item2, item3, ...]

```

> 📝 **Note:**  It is convention to never give the name `list` to a Python list.

In [18]:
fruits = ['banana', 'apple', 'cherry']

fruits

['banana', 'apple', 'cherry']

In [242]:
type(fruits)

list

In [244]:
len(fruits)

3

Note that lists in Python can contain all types of data, e.g. strings, integers, floats, arithmetic operations etc.

In [246]:
mixed_lst = ['banana', 2, 42.5, 10*2]

mixed_lst

['banana', 2, 42.5, 20]

#### Indexing and slicing

We select items from a list the same way that we selected characters from a string

Again, remember that Python follows *zero-based indexing*.

In [248]:
mixed_lst[0]

'banana'

In [250]:
mixed_lst[3]

20

In [252]:
mixed_lst[2:]

[42.5, 20]

As before, negative numbers are interpreted as the number of items from the *end* of the list.

In [254]:
mixed_lst[-2:]

[42.5, 20]

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Store the name of the weekdays (Mon-Fri) in a list called <code>day_lst</code>. Print the last day in the list in <i>three</i> different ways.
</div>

In [38]:
day_lst = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']

In [42]:
day_lst[-1]

'friday'

In [44]:
day_lst[4]

'friday'

In [46]:
day_lst[4:]

['friday']

#### Operations

Unlike strings, lists are *mutable*, meaning that we can make changes to a list without having to assign it to a new variable (or overwrite a previous variable).

We can add a new item to the end of the list using `append`.

In [256]:
fruits

['banana', 'apple', 'cherry']

In [258]:
fruits.append('pear')

In [260]:
fruits

['banana', 'apple', 'cherry', 'pear']

> 📝 **Note:**  We can also use a pair of parenthesis `()` to store a sequence of items. This is known as a **tuple**.

In [54]:
fruits2 = ('banana', 'apple', 'cherry')

fruits2

('banana', 'apple', 'cherry')

The main difference between a list and a tuple is that a tuple is *immutable*, i.e., cannot be modified.

In [56]:
# AttributeError (because cannot append a new item to a tuple)
fruits2.append('pear')

AttributeError: 'tuple' object has no attribute 'append'

Instead of appending, we can use the `+` operator to combine several lists together into a single list.

In [86]:
fruits = ['banana', 'apple', 'cherry']

In [72]:
vegetables = ['potato', 'carrot', 'broccoli', 'onion']

In [74]:
fruits + vegetables

['banana', 'apple', 'cherry', 'potato', 'carrot', 'broccoli', 'onion']

In order to store the appended list we need to store it in a new variable (or overwrite a previous variable).

In [76]:
new_lst = fruits + vegetables

new_lst

['banana', 'apple', 'cherry', 'potato', 'carrot', 'broccoli', 'onion']

Note that when a list consists of only numbers, there are some special operations that we can perform on the list, such as `sum`, `min` and `max`.

In [78]:
num_lst = [1, 2, 3, 4, 5, 6, 7]

num_lst

[1, 2, 3, 4, 5, 6, 7]

In [80]:
sum(num_lst)

28

In [82]:
min(num_lst)

1

In [84]:
max(num_lst)

7

#### Nested list

A list can also contain other lists. This is known as a *nested* list.

In [88]:
foods = [fruits, vegetables]

foods

[['banana', 'apple', 'cherry'], ['potato', 'carrot', 'broccoli', 'onion']]

In [90]:
foods[0]

['banana', 'apple', 'cherry']

In [92]:
foods[1]

['potato', 'carrot', 'broccoli', 'onion']

In [94]:
foods[0][1]

'apple'

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Consider the nested list <code>table</code>, where each sublist contains the test scores for a single student on three different tests:

    table = [
        [85, 91, 89], # test scores for student 1
        [78, 81, 86], # test scores for student 2
        [62, 75, 77], # test scores for student 3
        [70, 65, 72]  # test scores for student 4
    ] 

Use the list to calculate a) the average test score for the second student and b) the average test score on the third test.

</div>

In [96]:
table = [
    [85, 91, 89], # test scores for student 1
    [78, 81, 86], # test scores for student 2
    [62, 75, 77], # test scores for student 3
    [70, 65, 72]  # test scores for student 4
] 

table

[[85, 91, 89], [78, 81, 86], [62, 75, 77], [70, 65, 72]]

In [106]:
#average test score for student #2
sum(table[1]) / len(table[1])

81.66666666666667

In [114]:
(table[0][-1] + table[1][-1] + table[2][-1] + table[3][-1]) /4

81.0

## Dictionaries

A dictionary is another data type used to store multiple items in a single variable. Dictionaries in Python are like dictionaries in the real-word: we look up words (keys) and read off the definition (value).

Ulike lists, each item in a dictionary is associated with a *key* instead of an index. We create dictionaries by placing a comma-seperated sequence of *key-value* pairs within curly brackets `{}`. Each key-value pair starts with the key, followed by a colon `:` and then the value associated with that key.

**Syntax**:
```
dict_name = {key1  : value1, key2  : value 2, key 3 : value3, ...}

```

> 📝 **Note:** It is convention to never give the name `dict` to a Python dictionary.

To make the dictionary more readable to humans, we often write each key-value pair on its own line.

In [116]:
student = {
    'name' : 'Anne Smith',
    'student_no' : 's1234',
    'course' : 'TECH2',
    'score' :  82
}

student

{'name': 'Anne Smith', 'student_no': 's1234', 'course': 'TECH2', 'score': 82}

Like lists, dictionaries are also a sequence of items.

In [118]:
len(student)

4

But unlike lists, dictionaries have no index, so we cannot select an item from a dictionary using the indexing operator.

In [ ]:
# KeyError (because dictionaries have keys instead of an index)
student[0]

Instad, we have to use the keys to "look up" a value in a dictionary.

We can use the `keys` function to display all of the keys in a dictionary.

In [120]:
student.keys()

dict_keys(['name', 'student_no', 'course', 'score'])

In [122]:
student['name']

'Anne Smith'

In [124]:
student['score']

82

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Create a dictionary named <code>bio</code> with the keys <code>name</code> and <code>year</code> which contain your first name and the year that you are born in. Use the dictionary to print a sentence stating your name and which year you are born in, e.g. "My name is ... and I am born in ...".

</div>

In [144]:
bio = {
    'name' : 'Lila',
    'year' : 2005
}

print('My name is ' +bio['name'] + ' and I was born in ' + str(bio['year']))

My name is Lila and I was born in 2005

Like lists, dictionaries are also mutable. This means that we can update the value of an existing key and add new key-value pairs.

In [146]:
student

{'name': 'Anne Smith', 'student_no': 's1234', 'course': 'TECH2', 'score': 82}

In [148]:
student['score'] = 92

student

{'name': 'Anne Smith', 'student_no': 's1234', 'course': 'TECH2', 'score': 92}

In [150]:
student['university'] = 'NHH'

student

{'name': 'Anne Smith',
 'student_no': 's1234',
 'course': 'TECH2',
 'score': 92,
 'university': 'NHH'}