# 00 - Introduction

This notebook gives an introduction to Python programming in Jupyter notebooks.

A Jupyter notebook consists of cells.

We can add a new cell by pressing the plus sign in the menu, and delete an existing one by pressing the scissor sign. Alternatively, we can use the short cuts `b` and `d, d`, respectively. 

See [this](https://digitalhumanities.hkust.edu.hk/tutorials/jupyter-notebook-tips-and-shortcuts/) overview for the different shortcuts in Jupyter notebook.

In Jupyter notebook, we can run a cell by selecting the cell and going to the menu and pressing `Run` -> `Run Selected Cell` (or use the shortcut `Shift + Enter`).

However, the output of running a cell depends on the cell type.

## `Code` cells

If the cell is a `Code` cell, then running the cell will execute the Python code in the cell.

In [3]:
2 + 2

4

We can use Python as a calculator. Python supports all types of arithmetic operations.

Notice that to exponentiate, Python uses a double "multiplication" sign.

In [4]:
(2 + 4) / 8

0.75

In [5]:
2 * 3

6

In [6]:
2 ** 3

8

It is convention in the Python community to use space in order to enhance the readibility of our code. While `2+2` is allowed, it is preferred to write it as `2 + 2`.

In both programming and data analysis it is important to document your work so that others can replicate your code/analysis. We therefore add comments to our code to help others understand (and remind ourselves of) the logic behind our code. 

We can add comments inside `Code` cells by using the `#` symbol.

In [ ]:
# While this is allowed...
2+2

In [ ]:
# ...we usually prefer to use more space
2 + 2

## `Markdown` cells

One of the main reasons for why Jupyter notebooks are so popular among data analysts is the ability to mix Python code with Markdown code. This makes it easier to add longer comments that explains how the analysis has been executed and the results found. Jupyter notebooks enhance the reproducability of research!

If a cell is a `Markdown` cell, then running the cell will display the content in the cell as text.

2 + 2

In addition to displaying plain text, we can use `Markdown` code to format text.

For example, we can use a single or multiple `#` to generate titles:

# title
## title
### title
#### title

Or we can create lists:

**Bullet point list**
- item 1
- item 2
- item 3

*Numbered list*
1. item 
2. item
3. item

## Variables

In programming, we often store the inputs and outputs of our code in variables.

A variable is a named storage location in the computer that associates a *name* (identifier) with a specific *value*.

Variables are created by assigning an initial value to an identifier using the equality sign (=).

In [13]:
num = 10
num

10

Python is a *dynamically-typed* language, which means that we can change the value of a variable throughout a program. In other words, we can overwrite variables.

In [14]:
num = num + 10
num

20

The same value can also be assigned to several identifiers:

In [15]:
k = 20
k

20

There are several rules that must be followed when naming variables in Python. A variable name cannot:
- start with a number
- contain spaces
- contain special characters, e.g. !, ', #, @ etc.

Failure to obey the naming rules, will cause a `SyntaxError`.

In [19]:
# Variable name cannot contain spaces
six pack = 6

SyntaxError: invalid syntax (306151047.py, line 2)

In [21]:
# Instead, we often use underscores in variable names
six_pack = 6

### Numeric data

Numeric data are variables containing only digits (with an optional sign character and/or decimal point). 

In Python, a whole number (i.e., no decimals) is called an *integer*, while a number with decimals is called a *float*.

Note that commas are never used to define floats in Python! Instead, we use the `.` for the decimal point.

In [11]:
x = 12.5

Note that evaluating expressions with both integers and floats will always return a float.

In [13]:
eq = 7 + 4.0
eq

11.0

We can use the `type` function to get the data type of a variable.

In [29]:
type(eq)

float

We can use the `int` function to convert a float to an integer. Note that this will simply drop everything after the decimal point.

In [30]:
int(eq)

11

In [32]:
int(x)

12

### String data

In Python, we call text data for *strings*. 

A string is any sequence of characters. The characters can be letters, numbers, special character, spaces etc.

Strings are created by placing the sequence of characters between a pair of single quotes or double quotes (it is fine to use either one as long as you are consistent in your use).

In [33]:
sentence = "This is how many prefers to write strings"

sentence

'This is how many prefers to print strings'

In [34]:
sentence = 'This is is how I prefer to write strings'

sentence

'This is is how I prefer to print strings'

Strings can contain quotation marks (' or ") as long as different quotation marks are used to delimit the string.

In [15]:
# SyntaxErrors
sentence = 'We're having fun with Python today!')

SyntaxError: unterminated string literal (detected at line 2) (561659316.py, line 2)

In [16]:
# Valid string
sentence = "We're having fun with Python today!"

sentence

"We're having fun with Python today!"

Note that we can use the `print` function to display a string without the quotation marks.

In [14]:
print("We're having fun with Python today!")

We're having fun with Python today!

Although we cannot perform arithmetic operations on strings (duh!), we can still use the `+` operator to add strings together.

In [19]:
word1 = 'Hello'
word2 = 'world!'

word1 + ' ' + word2

'Hello world!'

We can use the `str` function to convert a number to a string.

In [20]:
num = 10
#num = 10.2

str(num)

'10'

Note that we can also use the `int` and `float` functions to convert a string to number.

In [45]:
num = '10'

int(num)

10

In [53]:
num = '10.2'

float(num)

10.2

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> <b>MathTechQuest</b>: We have two equations: <code>eq1 = abc * de</code> and <code>eq2 = fgh * ij</code>, in which the variables <code>a-j</code> are equal to one of the digits <code>0-9</code>. Each digit can only be used once, and the numbers in the equation cannot begin with 0 (i.e., <code>a</code>, <code>d</code>, <code>f</code> and <code>i</code> cannot be zero). 

Write a program that assigns the digits to the variables, and calculates the two equations. Play around with the numbers and see if you find a combination in which the two equations are equal (i.e., <code>eq1=eq2</code>. 
        
</div>