# 02 - Decisions

There are three fundamental types of control structure in programming:

- Sequential - executes code line-by-line (default mode)
- Selection - executes a block of code based on a condition
- Iterative - repeats a block of code multiple times (loops)

<img src="images/control_structure.png" width = "70%" align="left"/>

So far we have executed our Python programs line-by-line. However, sometimes we want to control the order that instructions (i.e., code) are executed in the program. 

This notebook gives an introduction to selection control in Python. In selection control, the program needs to make a *decision* based on a *condition*. These conditions are created by combining **if-statements** with **Boolean expressions**.

## Boolean expressions

Expressions evaluating to either `True` or `False`.

Boolean expressions are created by using the Boolean data type.

In [2]:
x = True 
print(x)

True

In [4]:
type(x)

bool

### Operators

To generate a boolean expression, we must use *operators* to compare values (or expressions) to each other.

#### 1. Relational operators:

Operators that perform the "usual" comparison operations that we are familiar with from math.

|Operator | Description                                                                        | Syntax |
|:---     | :---                                                                               | ---    |
|==       | Equal to: True if both values are equal                                            | x == y |
|>        | Greater than: True if the left value is greater than the right                     | x > y  |
|>=       | Greater than or equal to: True if left value is greater than or equal to the right | x >= y |
|<        | Less than: True if the left value is less than the right                           | x < y  |
|<=       | Less than or equal to: True if left value is less than or equal to the right       | x <= y |
|!=       | Not equal to: True if the values are not equal                                     | x != y |

In [6]:
10 == 20

False

In [8]:
10 != 20

True

In [10]:
10 <= 20

True

We can perform relational operations on variables.

In [12]:
i = 10
k = 10

In [14]:
k == i

True

In [16]:
k > 20

False

Note that we must be careful when comparing floats. As floats have limited precision in Python, calculations can cause round-off errors.

In [18]:
1 / 3 == 0.333

False

In [20]:
round(1 / 3, 3) == 0.333

True

Relational operations can also be performed on string data.

In general, for two strings to be equal to each other they must contain the *exact* sequence of characters.

In [22]:
'Hello' == 'Hello'

True

In [24]:
'Hello' == 'HELLO'

False

Note that we can use `upper` and `lower` to convert strings to lowercase and uppercase.

In [26]:
str_low = 'hello'
str_up = 'HELLO'

In [28]:
str_low.upper()

'HELLO'

In [30]:
str_low.upper() == str_up

True

In [32]:
str_low == str_up.lower()

True

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Store your first name in a variable called <code>name</code> and check if your name is "equal to", "less than" and "not equal to" six characters.
</div>

In [3]:
name = 'Lila'

In [4]:
len(name) == 6

False

In [5]:
len(name) < 6

True

In [6]:
len(name) != 6

True

In [40]:
name='Lila'
len(name)==6

False

In [44]:
len(name)>=6

False

In [46]:
len(name)<=6

True

#### 2. Membership operators:

We can use membership operators `in` and `not in` to evaluate whether a particular value occurs within a sequence of values.

In [48]:
10 in [40, 20, 10]

True

In [50]:
10 not in [40, 20, 10]

False

In [52]:
grade = 'A'
grade in ['A', 'B', 'C', 'D', 'E', 'F']

True

In [54]:
city = 'Bergen'
city in ('Oslo', 'Trondheim', 'Stavanger')

False

Note that the membership operator can also be used to check whether a string occurs within another string.

In [56]:
'Dr.' in 'Dr. Malone'

True

#### 3. Boolean operators:

We can use the boolean operators to construct more complex Boolean expressions.

The `and` and `or` operators allow us to combine two or more boolean expressions into a single expression.

The `and` operator is `True` *only* when all of its operands are `True` (`False` otherwise).

In [58]:
True and False

False

In [60]:
True and True

True

The `or` operator evaluates to `True` when *at least one* its operands is `True` (`False` otherwise).

In [62]:
True or False

True

In [64]:
False or False

False

We can use the `not` operator to reverse the truth value of the operand (or expression).

In [66]:
not(True)

False

In [68]:
not(True) and False

False

In [70]:
not(True and False)

True

In boolean expression, we often combine boolean operations with relational operations.

In [72]:
(10 < 0) and (10 > 2) # False and True

False

In [74]:
(10 < 0) or (10 > 2) # False or True

True

In [76]:
not(10 < 0) or (10 > 2) # not(False) or True

True

In [78]:
not((10 < 0) or (10 > 2)) # not(False or True)

False

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Store your first name in a variable called <code>name</code> and the name of the month of your birthday in a variable called <code>month</code>. Check whether your first name is less then or equal to six characters and if your birthday is in the summer (June, July and August).
</div>

In [7]:
name = 'Lila'
month = 'December'
len(name) <= 6 and month in ['June', 'July', 'August']

False

In [80]:
name='Lila'
month='December'

In [88]:
len(name)<=6

True

In [90]:
len(name) <= 6 and 'December' in ('June', 'July', 'August')

False

## Analyzing strings

In addition to comparing strings using the relational and membership operators, Python offers several functions that evaluate a string and return a boolean value.

In [92]:
username = 'CopyCat1337'

`startwith` returns `True` if the string starts with the specified substring, `False` otherwise.

In [94]:
username.startswith('C')

True

`isspace` returns `True` if the string contains only space, `False` otherwise.

In [96]:
username.isspace()

False

`isdigit` returns `True` if the string contains only digits, `False` otherwise.

In [98]:
username.isdigit()

False

`islower` returns `True` is string contains only lowercase letters, `False` otherwise.

In [100]:
username.islower()

False

Other functions evaluate the string, but does not return a Boolean value.

`count` returns the number of occurrences of a specified substring.

In [102]:
username.count('C')

2

In [104]:
username.count('Cat')

1

`find` returns the index of the beginning of a specified substring (returns `-1` if substring not found).

In [106]:
username.find('Cat')

4

Note that we can use these string-specific functions to form Boolean expression.

In [108]:
(username.startswith('C')) and (username.count('C') > 1) # True and True

True

In [110]:
(username.isspace()) or (username.find('Dog') != -1) # False or False

False

## If-statements

`if` statements allow us to select which part of the code to execute based on a condition.

The statement consists of a header starting with the `if` keyword, followed by a boolean condition and a colon (:), and its associated block of code.

**Syntax**:
```
if <condition>:

    <statements>

```

The block of code is indented relative to its header, and it will be executed only if the Boolean condition is `True`.

In [114]:
score = 70

In [121]:
if score == 100:
    print('Full score!')

Note that all code *outside* of the indented code block will still be executed even if the condition is not true.

In [123]:
if score == 100:
    print('Full score!')
    
print('Always print this.')

Always print this.

We can add alternative instructions (i.e., code) by combining an `if` statement with an `else` statement.

The code inside the `else` statement will only be executed if the condition in the `if` statement is not `True`. Note that the `else` statement does not take a condition.

In [125]:
if score == 100:
    print('Full score!')
    
else:
    print('Not full score.')

Not full score.

In addition to the boolean operators (e.g. `<=`), we can also use the membership operator `in` in an `if` statement.

In [127]:
'C' in ['A', 'B', 'C', 'D', 'E']

True

In [129]:
passing_grades = ['A', 'B', 'C', 'D', 'E']
grade = 'C'

if grade in passing_grades:
    print('You have received a passing grade')
    
else:
    print('You have not recieved a passing grade.')

You have received a passing grade

We have already seen that we can test for multiple conditions simultanously using the `and` and `or` keywords.

In [131]:
score = 70

(score < 90) & (score >= 80)

False

In [8]:
#score = 70
score = 84

if (score < 90) and (score >= 80):
    print('Grade: B')

else:
    print('Grade is not B.')

Grade: B

In [9]:
score = 100
#score = 102

if (score < 0) or (score > 100):
    print('Invalid score!')

else:
    print('Valid score.')

Valid score.

It is not only `print` statements that we can place inside the `if` statements, but we can perform any type of Python operation.

In [137]:
if score >= 60:
    valid = True
    
else:
    valid = False
    
print(valid)

True

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Write an <code>if</code>code>-statement that checks whether a string variable called <code>choice</code> contains only digits. If the variable contains only digits, multiply the variable with two and print the result of the operation. Otherwise, print that the variable is not a number.
</div>

In [11]:
choice = '12546'
if choice.isdigit():
    print(int(choice)*2)
else:
    print('the variable is not a number')

25092

In [147]:
choice=59
if str(choice).isdigit():
    print(choice * 2)

else:
    print ('the variable is not a number')

118

Note that `if` statements cannot be empty, but if you for some reason have an `if` statement with no content, you can use the `pass` statement to avoid an error.

In [151]:
score = 70
#score = 102

if (score >= 0) and (score <= 100):
    pass
else:
    print('Not valid score!')

### Nested `if` statements

In programming, we often want to select the code to execute based on something more than a single `if` statement. In that case, we can "nest" multiple `if` statements to create a more complex selection structure. 

An `if` statement is nested by placing it inside the `else` statement of the prior `if` statement. In general, we can nest as many `if` statements as we want as long as they are all *mutually exclusive*.

In [ ]:
score = 85

In [153]:
if score >= 90: 
    print('Grade: A')
    
else:
    if score >= 80: 
        print('Grade: B')
        
    else:
        if score >= 70: 
            print('Grade: C') 
            
        else:
            print('Grade is not A, B or C.')

Grade: C

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Add more nested <code>if</code> statements to the code above so that we also test whether the grade is D or E. 
        
Assume that a score of 60-69 results in a D, while a score of 50-59 results in an E.
</div>

In [13]:
if score >= 90:
    print('Grade: A')
elif score >= 80:
    print('Grade: B')
elif score >=70:
    print('Grade: C')
elif score >= 60:
    print('Grade: D')
elif score >= 50:
    print('Grade: E')
else:
    print('fail')

Grade: A

In [159]:
score = 85

if score >= 90: 
    print('Grade: A')
    
else:
    if score >= 80: 
        print('Grade: B')
        
    else:
        if score >= 70: 
            print('Grade: C') 

        else:
            if score >= 60:
            print ('Grade: D')
            
                   else:
                        if score >= 50:
                        print ('Grade: E')

IndentationError: expected an indented block after 'if' statement on line 15 (1154865178.py, line 16)

### `if` statement + `elif` statements

However, nested `if` statements can quickly become very messy. When you have multiple conditions to test, a good alternative is to instead combine the initial `if` statement with one or several `elif` statements.

The program will terminate after the first `if` statement that is evaluated to be `True`. The program should end with a "catch-all" `else` statement.

In [16]:
score = 95

In [17]:
if score >= 90:
    print('Grade: A')
    
elif score >= 80:
    print('Grade: B')
    
elif score >= 70:
    print('Grade: C')
    
else:
    print('Grade is not A, B or C.')

Grade: A

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> In the US, people can drive when they turn 16, vote when they turn 18 and drink when they turn 21. 
        
Create a series of <code>if</code> and <code>elif</code> statements that print whether a person can drive, drink and/or vote for a given value on an <code>age</code> variable. Remember to end with an <code>else</code> statement.
       
</div>

In [15]:
age = 19
if age >= 21:
    print('drink, vote, and drive')
elif age >= 18:
    print('vote and drive')
elif age>= 16:
    print('drive')
else:
    pass

vote and drive

In [177]:
age=20
if age<16:
    pass
elif:age>=16 and age<18
    print('this person can drive, but not vote or drink')
elif:age>=18 and age<20
    print('this person can drive and vote, but not drink')
else: 
    print('this person can drive, vote, and drink')

SyntaxError: invalid syntax (212516062.py, line 4)

Note that there is a difference between combining an `if` statement with `elif` statements, and combining multiple `if` statements... In general, we should use `if` +`elif` statements when we want the program to terminate once it encounters the *first* condition that is `True`.

In [ ]:
score = 85

if score >= 90:
    print('Grade: A')
    
if score >= 80:
    print('Grade: B')
    
if score >= 70:
    print('Grade: C')
    
else:
    print('Grade is not A, B or C.')