# Recap from last week

1. Load Titanic data set
2. Count number of missing values in column `Age`
3. Compute mean age
4. Replace missing values with mean age rounded to nearest integer

In [30]:
# Uncomment this to use files in the local data/ directory
DATA_PATH = '../../data'

# Uncomment this to load data directly from GitHub
# DATA_PATH = 'https://raw.githubusercontent.com/richardfoltyn/TECH2-H24/main/data'

***

# Grouping and aggregation with pandas

## Aggregation and reduction

*split-apply-combine* operations:

1. *Split* data into groups based on some criteria;
2. *Apply* some function to each group separately; and
3. *Combine* the results into a single `DataFrame` or `Series`.

See also the pandas [cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) for an illustration of such operations.

### Working with entire DataFrames

- Apply functions such as `mean()`, `min()`, `max()`, etc. to entire columns
- See Titanic example from earlier

### Working on subsets of data (grouping)

- [`groupby()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) allows us to apply operations to *sub-sets* of data

*Example: Compute means by class (first, second, third)*

#### Built-in aggregations

There are numerous routines to aggregate grouped data, for example:

- [`mean()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.mean.html):
    averages within each group
- [`sum()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.sum.html):
    sum values within each group
- [`std()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.std.html), 
    [`var()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.var.html): 
    within-group standard deviation and variance
- [`quantile()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.quantile.html):
    compute quantiles within each group
- [`size()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.size.html): 
    number of observations in each group
- [`count()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.count.html):
    number of non-missing observations in each group
- [`first()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.first.html), 
    [`last()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.last.html): 
    first and last elements in each group
-   [`min()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.min.html), 
    [`max()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.max.html): 
    minimum and maximum elements within a group

See the [official documentation](https://pandas.pydata.org/docs/user_guide/groupby.html#built-in-aggregation-methods) for a complete list.

*Example: Number of elements within each group*

*Example: Return first observation of each group*

<div class="alert alert-info">
<h3> Your turn</h3>
Use the Titanic data set to perform the following aggregations:
<ol>
    <li>Compute the average survival rate by sex (stored in the <TT>Sex</TT> column).</li>
    <li>Count the number of passengers aged 50+. Compute the average survival rate by sex for this group.</li>
    <li>Count the number of passengers below the age of 20 by class and sex. Compute the average survival rate for this group (by class and sex).</li>
</ol>
</div>

In [31]:
import pandas as pd
DATA_PATH = '../../data'
file = f'{DATA_PATH}/titanic.csv'
df = pd.read_csv(file, sep=',')

In [32]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss Margaret Edith",female,19.0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,370376,7.7500,NaN,Q

In [33]:
df.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [34]:
df2 = df.loc[df['Sex'] == 'female']

In [35]:
df.query('Age >= 50').groupby('Sex')['Survived'].mean()

Sex
female    0.909091
male      0.134615
Name: Survived, dtype: float64

In [36]:
df.query('Age < 20').groupby(['Pclass','Sex'])['Survived'].mean()

Pclass  Sex
1       female    0.928571
        male      0.571429
2       female    1.000000
        male      0.526316
3       female    0.533333
        male      0.190476
Name: Survived, dtype: float64

#### Writing custom aggregations

- Built-in functions don't cover all possible use cases
- Apply custom aggregation functions using
[`agg()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)
(short-hand for [`aggregate()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html))
- Functions operate on each column separately
- Functions can be passed as string (e.g., `"mean"`) or as function reference (e.g., `np.mean`), or as a lambda expression

*Example: Compute mean age by class using `agg()`*

*Example: Count number of passengers aged 40+ by class*

#### Applying multiple functions at once

- Multiple functions applied to the same column: `.agg(['function1', 'function2'])`

*Example: Compute mean and median age by class*

- Apply multiple functions to different columns (["named aggregation"](https://pandas.pydata.org/docs/user_guide/groupby.html#named-aggregation)):

```python
    groups.agg(
        new_column_name1=('column_name1', 'operation1'),
        new_column_name2=('column_name2', 'operation2'),
        ...
    )
```

*Example: Compute maximum fare and mean age by class*

<div class="alert alert-info">
<h3> Your turn</h3>
Use the Titanic data set to perform the following aggregations:
<ol>
    <li>Compute the minimum, maximum and average age by embarkation port (stored in the column <TT>Embarked</TT>) in a single <TT>agg()</TT> operation.
    Note that there are several ways to solve this problem.</li>
    <li>Compute the number of passengers, the average age and the fraction of women by embarkation port in a single <TT>agg()</TT> operation. This one is more challenging and probably requires use of <TT>lambda</TT> expressions.</li>
</ol>
</div>

In [38]:
df.groupby('Embarked')['Age'].agg(['min', 'max', 'mean'])

           min   max       mean
Embarked
C         0.42  71.0  30.814769
Q         2.00  70.5  28.089286
S         0.67  80.0  29.445397

In [39]:
df['Female'] = (df['Sex'] == 'female')

In [41]:
df.groupby('Embarked').agg(nummber_passangers=('Age', 'size'), avg_age=('Age', 'mean'), frac_women=('Female', 'mean'))

          nummber_passangers    avg_age  frac_women
Embarked
C                        168  30.814769    0.434524
Q                         77  28.089286    0.467532
S                        644  29.445397    0.315217

***

## Transformations

- Aggregations & reductions _reduce_ the dimensionality of the result (e.g., series of data => mean)
- Transformations: apply group-level operations to each _observation_, data dimension remains unchanged
- Transformations can be applied using [`transform()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.transform.html)

*Example: Compute average fare by class and assign it to each observation*

In [44]:
df['Avg_Age'] = df.groupby('Pclass')['Age'].transform("mean")

In [45]:
df[['Pclass', 'Age', 'Avg_Age']]

     Pclass   Age    Avg_Age
0         3  22.0  25.140620
1         1  38.0  38.233441
2         3  26.0  25.140620
3         1  35.0  38.233441
4         3  35.0  25.140620
..      ...   ...        ...
886       2  27.0  29.877630
887       1  19.0  38.233441
888       3   NaN  25.140620
889       1  26.0  38.233441
890       3  32.0  25.140620

[891 rows x 3 columns]

*Example: Deviation from average fare*

In [48]:
import numpy as np
def my_diff (x):
    return x - np.mean(x)

df['Diff_Fare'] = df.groupby('Pclass')['Fare'].transform(my_diff)

SyntaxError: invalid non-printable character U+00A0 (1183380905.py, line 5)

<div class="alert alert-info">
<h3> Your turn</h3>
Use the Titanic data set to perform the following aggregations:
<ol>
    <li>Compute the <i>excess</i> fare paid by each passenger relative to the minimum fare by embarkation port and class, i.e., compute <i>Fare - min(Fare)</i>
        by port and class.</li>
</ol>
</div>

In [53]:
import numpy as np
def excess(x):
    return x - np.min(x)
df['Excess_Fare'] = df.groupby('Pclass', 'Embarked')['Fare'].transform(excess)
df[['Pclass', 'Embarked', 'Fare', 'Diff_Fare']]

ValueError: No axis named Embarked for object type DataFrame

***
# Working with time series data

- Time series data: indexed by time stamp, date, etc.
- Example: Quarterly GDP since 1950
- Pandas has comprehensive support for time series data

*Example: Create artificial daily data*

In [55]:
start = '2024-01-01'
end = '2024-03-31'

index = pd.date_range(start, end, freq='D')

In [56]:
data = np.arange(len(index))

In [57]:
data

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90])

In [61]:
s = pd.Series(data, index=index)
s

2024-01-01     0
2024-01-02     1
2024-01-03     2
2024-01-04     3
2024-01-05     4
              ..
2024-03-27    86
2024-03-28    87
2024-03-29    88
2024-03-30    89
2024-03-31    90
Freq: D, Length: 91, dtype: int64

Construct three months of daily data from 2024-01-01 to 2024-03-31 using the 
[`date_range()`](https://pandas.pydata.org/docs/reference/api/pandas.date_range.html)

***

## Indexing with date/time indices

- Can pass dates, date ranges, etc., directly to `.loc[]`
- Supports partial indexing

*Example: Select single date, date range, whole months*

In [62]:
s.loc['2024-02-15']

45

In [63]:
s.loc['2024-01-01':'2024-01-32']

TypeError: cannot do slice indexing on DatetimeIndex with these indexers [2024-01-32] of type str

In [65]:
s.loc['2024-01']

2024-01-01     0
2024-01-02     1
2024-01-03     2
2024-01-04     3
2024-01-05     4
2024-01-06     5
2024-01-07     6
2024-01-08     7
2024-01-09     8
2024-01-10     9
2024-01-11    10
2024-01-12    11
2024-01-13    12
2024-01-14    13
2024-01-15    14
2024-01-16    15
2024-01-17    16
2024-01-18    17
2024-01-19    18
2024-01-20    19
2024-01-21    20
2024-01-22    21
2024-01-23    22
2024-01-24    23
2024-01-25    24
2024-01-26    25
2024-01-27    26
2024-01-28    27
2024-01-29    28
2024-01-30    29
2024-01-31    30
Freq: D, dtype: int64

***

## Lags, differences, and other useful transformations

Common time-series operations:

- [`shift()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html): move observations forward/backward
- [`diff()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.diff.html): compute difference across periods
- [`pct_change()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pct_change.html): compute percentage change across periods

***
## Resampling and aggregation

- Resampling is like `groupby()`, but applied to time periods
- Observations can be grouped by year (`'YE'`), quarter (`'QE'`), month (`'ME'`), week (`'W'`), etc.
- Apply build-in methods to grouped object just like with `groupby()` aggregation

*Example: Compute monthly averages*

In [68]:
s.resample('ME').mean()

2024-01-31    15.0
2024-02-29    45.0
2024-03-31    75.0
Freq: ME, dtype: float64

*Example: Select last weekly observation*

In [69]:
s.resample('W').last()

2024-01-07     6
2024-01-14    13
2024-01-21    20
2024-01-28    27
2024-02-04    34
2024-02-11    41
2024-02-18    48
2024-02-25    55
2024-03-03    62
2024-03-10    69
2024-03-17    76
2024-03-24    83
2024-03-31    90
Freq: W-SUN, dtype: int64